---
import { Icon } from "astro-icon/components";

interface Props {
    class?: string;
    href: string;
}

const { class: className = "", href } = Astro.props;
---

<a href={href} class:list={[className]}>
    <Icon class="text-white" name="back" width={18} height={18} />
</a>
