---
import { Icon } from "astro-icon/components";

interface Props {
    name: string;
    title: string;
    icon?: string;
    className?: string;
}

const { name, title, icon, className = '' } = Astro.props;
---

<button
    data-name={name}
    class:list={["tab grow h-[44px] px-4 whitespace-nowrap cursor-pointer uppercase", className]}
>
    {icon && <Icon name={icon} class="mr-2" />}
    {title}
</button>

<style>
    .tab {
        border-bottom: solid 2px transparent;

        &.active {
            border-color: var(--primary);
            color: var(--color-primary);

            [data-icon] {
                color: var(--color-primary);
                fill: var(--color-primary);
            }
        }
    }
</style>
