---
interface Props {
    className?: string;
    tabs: string;
    name: string;
}

const { tabs, name, className = "" } = Astro.props;
---

<div class:list={["window", "hidden", className]} data-tabs={tabs} data-name={name}>
    <slot />
</div>

<style>
    .window.active {
        display: block;
    }
</style>

<script>
    import { $tabs } from "../../stores/tabs";

    $tabs.subscribe(($tabs) => {
        Object.keys($tabs).forEach(($name) => {
            document
                .querySelectorAll(`.window[data-tabs="${$name}"]`)
                .forEach((element) => {
                    const name = element.getAttribute("data-name");

                    if (null === name) {
                        return;
                    }

                    if (name === $tabs[$name]) {
                        element.classList.add("active");
                    } else {
                        element.classList.remove("active");
                    }
                });
        });
    });
</script>
