@import 'tailwindcss';
@import 'github-markdown-css/github-markdown.css';
@plugin "daisyui" {
  themes: light --default;
}

:root {
  --bg-color: #f0f8ff;
  --border-color: #f0f8ff;
  --color-disabled: #EDF1F6;
}

body {
  font-family: 'Poppins';
  font-size: 0.9rem;
}

ul {
  list-style: initial;
  padding-left: 1.5rem;
}

ol {
  list-style: decimal;
  padding-left: 1.5rem;
}

b {
  font-weight: 600;
}

.bg-color {
  background-color: var(--bg-color);
}

.border-color {
  border-color: var(--bg-color);
}

.color-primary {
  color: var(--color-primary);
  fill: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
  fill: var(--color-secondary);
}

.color-success {
  color: var(--color-success);
  fill: var(--color-success);
}

.color-error {
  color: var(--color-error);
  fill: var(--color-error);
}

.disabled {
  color: var(--color-disabled);
  fill: var(--color-disabled);
}

.icon-primary {
  color: var(--color-primary);
  fill: var(--color-primary);
}

.icon-secondary {
  color: var(--bg-color);
  fill: var(--bg-color);
}

.overflow-x-auto {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.gap {
  gap: calc(var(--spacing) * 4);
}
