@import 'tailwindcss';
@import 'github-markdown-css/github-markdown.css';
@plugin "daisyui" {
  themes: light --default;
}

:root {
  --bg-color: #f0f8ff;
  --border-color: #f0f8ff;
  --color-border: #f0f8ff;
  --color-disabled: #edf1f6;
}

@utility gap {
  gap: calc(var(--spacing) * 6);
}

@utility scrollbar-x-none {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: 'Poppins';
  font-size: 0.9rem;
}

.container {
  width: 90%;
  max-width: var(--container-6xl);
  margin: 0 auto;
}

main {
  padding: --spacing(8) 0;
}

.card {
  background-color: var(--color-white);
  border-radius: var(--radius-xl);
  box-shadow: var(--shadow-md);
  padding: --spacing(6) --spacing(4);
}

.modal-box {
  max-height: 90%;
}

ul:not(.list) {
  list-style: initial;
  padding-left: 1.5rem;
}

ol:not(.list) {
  list-style: decimal;
  padding-left: 1.5rem;
}

b {
  font-weight: 600;
}

.bg-color {
  background-color: var(--bg-color);
}

.border-color {
  border-color: var(--bg-color);
}

.color-primary {
  color: var(--color-primary);
  fill: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
  fill: var(--color-secondary);
}

.color-success {
  color: var(--color-success);
  fill: var(--color-success);
}

.color-error {
  color: var(--color-error);
  fill: var(--color-error);
}

.disabled {
  color: var(--color-disabled);
  fill: var(--color-disabled);
}

.icon-primary {
  color: var(--color-primary);
  fill: var(--color-primary);
}

.icon-secondary {
  color: var(--bg-color);
  fill: var(--bg-color);
}

.tab-content:not(.active) {
  display: none;
}

.tab-content.active {
  display: block;
}

.table {
  th,
  td {
    text-align: center;
    background-color: transparent;
    white-space: nowrap;

    &:first-child {
      width: 100%;
      text-align: left;
      white-space: normal;
      padding-left: 0;
      padding-right: 0;
    }
    svg {
      display: inline-block;
      margin-right: 0.5rem;
    }
  }

  thead th,
  tfoot td {
    font-weight: 600;
  }
}
