---
import { Icon } from "astro-icon/components";
---

<nav class="grid grid-flow-col gap-2">
    <a href="/mon-logement/recherche" class="btn btn-circle btn-ghost">
        <Icon name="ui/cancel" width={22} height={22} />
    </a>
</nav>
