---
interface Props {
    size?: "md" | "lg";
}

const { size = "lg" } = Astro.props;
---

<div
    class:list={[
        "container px-4 lg:px-0 m-auto",
        { "max-w-7xl": size === "lg" },
        { "max-w-4xl": size === "md" },
    ]}
>
    <slot />
</div>
