<div class="pb-[54px] md:pb-0">
    <footer class="py-6 bg-primary text-white">
        <div class="w-[90%] md:w-full md:max-w-7xl m-auto">
            <div class="grid gap-2">
                <a href="/a-propos">Qui sommes-nous ?</a>
                <a href="/mentions-legales">Mentions légales</a>
                <a
                    href="https://github.com/action-21/ambassadeurs-renovation"
                    target="_blank"
                >
                    Github
                </a>
            </div>
        </div>
    </footer>
</div>
