---
import Logo from "../../assets/logo.svg";
import { TopNav } from "../Nav";

interface Props {
    class?: string;
}

const { class: className = "" } = Astro.props;
---

<header class:list={["bg-white h-[78px]", className]}>
    <div
        class="w-[90%] md:w-full md:max-w-7xl h-full flex items-center mx-auto"
    >
        <div class="grow">
            <a href="/">
                <Logo class="w-[200px] h-auto" />
            </a>
        </div>
        <div class="hidden md:block h-full">
            <TopNav class="h-full" />
        </div>
    </div>
</header>

<style>
    header {
        border-bottom: solid 1px var(--color-primary-content);
    }
</style>
