---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import { BottomNav } from "../Nav";
import "../../styles/global.css";

const pathname = Astro.url.pathname;
const hideHeaderOnMobile = ["/mon-audit", "/mes-gestes"].includes(pathname);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ambassadeurs Rénov'</title>
	</head>
	<body class="text-md bg-color">
		<Header class:list={["md:block", { hidden: hideHeaderOnMobile }]} />

		<slot />

		<BottomNav class="md:hidden" />

		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
	}
</style>
