---
interface Props {
    title: string;
    className?: string;
}

const { title, className = "" } = Astro.props;
---

<header class:list={["relative", "mb-4", className]}>
    <div class="flex items-center">
        <h2 class="grow font-semibold">{title}</h2>

        <slot />
    </div>

    <div class="w-[60px] h-[4px] bg-primary rounded-lg my-1"></div>
</header>
