---
interface Props {
    className?: string;
}

const { className = "" } = Astro.props;
---

<header class:list={["relative", "mb-8", className]}>
    <div class="flex items-center">
        <h1 class="grow font-semibold text-lg"><slot /></h1>
    </div>

    <div class="w-[60px] h-[4px] bg-primary rounded-lg mt-3 mb-6"></div>

    <slot name="description" />
</header>
