---
import { getRessources } from "../../data/ressources";
import { Tags } from "../Layout/Tags/index.ts";
import Ressource from "./Ressource.astro";

const ressources = getRessources();
const tags = ressources.map((ressource) => ressource.tags).flat();
---

<div class="grid gap">
    <Tags key="ressources" tags={tags} />

    <div class="grid gap">
        {
            ressources.map((item) => (
                <div
                    class="ressource active"
                    data-tags-key="ressources"
                    data-tags={item.tags.join("|")}
                >
                    <Ressource ressource={item} />
                </div>
            ))
        }
    </div>
</div>

<style>
.ressource {
    display: none;

    &.active {
        display: block;
    }
}
</style>
