---
interface Props {
    className?: string;
    rounded?: boolean;
    shadow?: boolean;
    flat?: boolean;
}
const {
    className = "",
    rounded = false,
    shadow = false,
    flat = true,
} = Astro.props;
---

<div
    class:list={[
        "relative",
        "bg-white",
        "m-auto",
        { "p-[1rem]": !flat },
        { "md:p-[2rem]": !flat },
        { "rounded-md": rounded },
        { "shadow-sm": shadow },
        className,
    ]}
>
    <slot />
</div>
