---
import { Icon } from "astro-icon/components";
---

<nav class="grid grid-flow-col gap-2">
    <button name="share-diagnostic" class="btn btn-circle btn-ghost">
        <Icon name="ui/share" width={22} height={22} />
    </button>
    <a href="/mes-gestes/projet" class="btn btn-circle btn-ghost">
        <Icon name="ui/cancel" width={22} height={22} />
    </a>
</nav>
