---
import Layout from "@layout/Layout.astro";
import { TitleSection } from "@component/Layout";
import Content from "../contents/a-propos.md";
---

<Layout title="👋 Qui sommes-nous ?">
	<div class="container">
		<main>
			<section class="card">
				<TitleSection>👋 Qui sommes-nous ?</TitleSection>

				<div class="markdown-body">
					<Content />
				</div>
			</section>
		</main>
	</div>
</Layout>
