---
import { Layout } from "../components/Layout";
import { Partenaires } from "../components/Partenaires";
import AmbassadeurImg from "../assets/home-ambassadeur.svg";
---

<Layout>
    <main class="bg-white">
        <section class="bg-color px-6 py-12">
            <div class="max-w-[1024px] m-auto">
                <div class="grid grid-flow-col items-center gap-6">
                    <div
                        class="grow grid grid-flow-row grid-rows-min gap-6 text-center md:text-left"
                    >
                        <h1 class="text-4xl">
                            Devenez un Ambassadeur de la rénovation énergétique
                        </h1>
                        <p class="text-xl">
                            Evaluez l'impact <span
                                class="color-primary font-semibold"
                                >énergétique et carbone</span
                            > d'un plan de rénovation en <span
                                class="color-secondary font-semibold"
                                >quelques minutes</span
                            >.
                        </p>
                        <a
                            href="./mon-audit/recherche"
                            class="btn btn-lg btn-primary w-3xs m-auto md:m-0 rounded-full"
                        >
                            Commencer
                        </a>
                    </div>
                    <div class="grow hidden md:block">
                        <AmbassadeurImg class="w-full" />
                    </div>
                </div>
            </div>
        </section>

        <section class="-mt-6">
            <Partenaires class="bg-white w-fit m-auto rounded-full" />
        </section>

        <section class="px-6 py-12">
            <div class="max-w-[1024px] m-auto grid gap-6 text-center">
                <h2 class="text-2xl font-medium">
                    Construisez le bâtiment de demain
                </h2>
                <p class="text-lg">
                    La <b class="text-primary">rénovation énergétique</b> est un enjeu majeur de la lutte
                    contre le réchauffement climatique et raréfaction des
                    ressources. Devenir Ambassadeur, c'est contribuer activement
                    à relever ce défi en <b class="text-primary">sensibilisant son entourage</b> aux gestes
                    les plus efficaces pour réduire <b class="text-primary">l'empreinte énergétique et
                    carbone</b> des logements.
                </p>
                <p class="text-lg font-medium text-secondary">
                    L'avenir du bâtiment est entre vos mains
                </p>
            </div>
        </section>
    </main>
</Layout>
