---
import Layout from "@layout/Layout.astro";
import { TitleSection } from "@component/Layout";
import Content from "../contents/mentions-legales.md";
---

<Layout title="Mentions Légales">
	<div class="container">
		<main>
			<section class="card">
				<TitleSection>Mentions Légales</TitleSection>

				<div class="markdown-body">
					<Content />
				</div>
			</section>
		</main>
	</div>
</Layout>
