---
import { Container, Layout, Main, Section, Title } from "../components/Layout";
import Content from "../contents/mentions-legales.md";
---

<Layout>
	<Container size="md">
		<Main>
			<Section>
				<Title>👋 Qui sommes-nous ?</Title>

				<div class="markdown-body">
					<Content />
				</div>
			</Section>
		</Main>
	</Container>
</Layout>
