---
import { useFixtures } from "../../fixtures/fixtures";
import { $audit } from "../../stores/user";
import { gestes } from "../../data/gestes";
import {
    Container,
    Layout,
    Main,
    Section,
    Title,
} from "../../components/Layout";
import { Gestes as Collection } from "../../components/Collection";
import Content from "../../contents/tutoriels/mes-gestes.md";

useFixtures();

const audit = $audit.get();

if (null === audit) {
    return Astro.redirect("/mon-audit");
}
---

<Layout>
    <Container size="md">
        <Main>
            <Section>
                <Title>
                    🚀 Améliorer la performance énergétique d'un logement

                    <div slot="description" class="markdown-body">
                        <Content />
                    </div>
                </Title>

                <div class="grid gap-6">
                    <Collection items={gestes} />

                    <a class="btn btn-primary w-fit" href="/mes-gestes">
                        Améliorer
                    </a>
                </div>
            </Section>
        </Main>
    </Container>
</Layout>
