---
import Comparaison from "../contents/cours/comparaison.md";
import ConfortEte from "../contents/cours/confort-ete.md";
import ConsommationsEnergie from "../contents/cours/consommations-energie.md";
import DeperditionsThermiques from "../contents/cours/deperditions-thermiques.md";
import PerformanceClimatique from "../contents/cours/performance-climatique.md";
import PerformanceEnergetique from "../contents/cours/performance-energetique.md";
import PerformanceIsolation from "../contents/cours/performance-isolation.md";
import PerformanceEnveloppe from "../contents/cours/performance-enveloppe.md";

interface Props {
    class?: string;
    name:
        | "comparaison"
        | "confort-ete"
        | "consommations-energie"
        | "deperditions-thermiques"
        | "performance-climatique"
        | "performance-energetique"
        | "performance-isolation"
        | "performance-enveloppe";
}

const { name, class: className = "" } = Astro.props;

const Component = (() => {
    switch (name) {
        case "comparaison":
            return Comparaison;
        case "confort-ete":
            return ConfortEte;
        case "consommations-energie":
            return ConsommationsEnergie;
        case "deperditions-thermiques":
            return DeperditionsThermiques;
        case "performance-climatique":
            return PerformanceClimatique;
        case "performance-energetique":
            return PerformanceEnergetique;
        case "performance-isolation":
            return PerformanceIsolation;
        case "performance-enveloppe":
            return PerformanceEnveloppe;
    }
})();
---

<div class:list={["markdown-body", className]}>
    <Component />
</div>
