---
import { ressources } from "../../data/ressources.ts";
import { Container, Layout, Main, Section, Title } from "../../components/Layout/index.ts";
import { Ressources as Collection } from "../../components/Collection/index.ts";
---

<Layout>
    <Container size="md">
        <Main>
            <Section>
                <Title>
                    🧰 Ressources et outils

                    <p slot="description">
                        Vidéos, podcasts, quizz ou services pour tout savoir sur
                        la rénovation énergétique.
                    </p>
                </Title>

                <Collection items={ressources} />
            </Section>
        </Main>
    </Container>
</Layout>
