---
import { getRessources } from "../../data/ressources";
import Layout from "@layout/Layout.astro";
import { TitleSection } from "@component/Layout";
import { Ressources as Collection } from "@component/Ressources";

const ressources = getRessources();
---

<Layout title="🧰 Ressources et outils">
    <div class="container">
        <main>
            <section class="card gap">
                <TitleSection>🧰 Ressources et outils</TitleSection>

                <p>
                    Vidéos, podcasts, quizz ou services pour tout savoir sur la
                    rénovation énergétique.
                </p>
                <Collection ressources={ressources} />
            </section>
        </main>
    </div>
</Layout>
