---
import { Common } from "dpe-audit";
import { ConsommationsEnergie, ConsommationsUsage } from "dpe-audit-ui";
import { Section, SectionHeader } from "../Layout";
import { Caption } from "../Caption";
import { DialogButton } from "../Dialog";
import { Alert } from "../Alert";

interface Props {
    consommations?: Common.Consommation[];
}
const { consommations = null } = Astro.props;
---

<Section>
    <SectionHeader title="Consommations d'énergie">
        <DialogButton name="consommations-energie" />
    </SectionHeader>

    {consommations == null && <Alert type="note" content="Non disponible" />}

    {
        consommations != null && (
            <div class="grid gap-6">
                <div class="overflow-hidden overflow-x-auto">
                    <ConsommationsUsage
                        consommations={consommations}
                        class="table"
                    />
                </div>
                <div class="overflow-hidden overflow-x-auto">
                    <ConsommationsEnergie
                        consommations={consommations}
                        class="table"
                    />
                </div>

                <Caption>
                    <ul>
                        <li>
                            <b>EF :</b> Consommation d'énergie finale en kWh/an
                        </li>
                        <li>
                            <b>EP :</b> Consommation d'énergie primaire en
                            kWh/an
                        </li>
                    </ul>
                </Caption>
            </div>
        )
    }
</Section>

<style></style>
