---
import { gestes, typeToString } from "../../data/gestes";
import { Section, SectionHeader } from "../Layout";
import { DialogButton } from "../Dialog";

interface Props {
    items: string[];
}

const { items }: Props = Astro.props;

const data = gestes.filter((item) => items.includes(item.titre));
---

<Section>
    <SectionHeader title="Gestes">
        <DialogButton name="gestes" />
    </SectionHeader>

    <table class="table">
        <thead>
            <tr>
                <th>Lot</th>
                <th>Geste</th>
            </tr>
        </thead>
        <tbody>
            {
                data.map((item) => (
                    <tr>
                        <td class="font-semibold">{typeToString(item.type)}</td>
                        <td>{item.titre}</td>
                    </tr>
                ))
            }
        </tbody>
    </table>
</Section>
