---
import { Enveloppe } from "dpe-audit";
import { IsolationEnveloppe } from "dpe-audit-ui";
import { Alert } from "../Alert";
import { Section, SectionHeader } from "../Layout";
import { DialogButton } from "../Dialog";

interface Props {
    performance?: Enveloppe.Performance;
}

const { performance = null } = Astro.props;
---

<Section>
    <SectionHeader title="Performance de l'isolation">
        <DialogButton name="performance-isolation" />
    </SectionHeader>

    {
        performance ? (
            <IsolationEnveloppe
                class="max-w-[200px] m-auto"
                performance={performance}
            />
        ) : (
            <Alert type="note" content="Non disponible" />
        )
    }
</Section>
