---
import { Audit } from "dpe-audit";
import { EtiquetteEnergie } from "dpe-audit-ui";
import { Alert } from "../Alert";
import { Section, SectionHeader } from "../Layout";
import { DialogButton } from "../Dialog";

interface Props {
    etiquette_energie?: Audit.EtiquetteEnergie;
    cef?: number;
    cep?: number;
}

const { etiquette_energie = null, cep = null, cef = null } = Astro.props;
---

<Section>
    <SectionHeader title="Performance énergétique">
        <DialogButton name="performance-energetique" />
    </SectionHeader>

    {
        etiquette_energie ? (
            <div class="grid grid-cols-2 gap-4 items-center">
                <div class="grow">
                    <EtiquetteEnergie etiquette_energie={etiquette_energie} />
                </div>

                <div class="grow stats stats-vertical w-fit">
                    <div class="stat pt-0 px-0">
                        <div class="stat-title w-[180px]">
                            Consommation finale
                        </div>
                        <div class="stat-value text-primary">
                            {cef ? cef.toFixed() : "-"}
                        </div>
                        {cef && (
                            <div class="stat-desc">
                                kWh<sub>ef</sub>/m²/an
                            </div>
                        )}
                    </div>
                    <div class="stat py-0 px-0">
                        <div class="stat-title w-[180px]">
                            Consommation primaire
                        </div>
                        <div class="stat-value text-primary">
                            {cep ? cep.toFixed() : "-"}
                        </div>
                        {cep && (
                            <div class="stat-desc">
                                kWh<sub>ep</sub>/m²/an
                            </div>
                        )}
                    </div>
                </div>
            </div>
        ) : (
            <Alert type="note" content="Non disponible" />
        )
    }
</Section>
