---
import { Audit } from "dpe-audit";
import { EtiquetteClimat } from "dpe-audit-ui";
import { Alert } from "../Alert";
import { Section, SectionHeader } from "../Layout";
import { DialogButton } from "../Dialog";

interface Props {
    etiquette_climat?: Audit.EtiquetteClimat;
    eges?: number;
}

const { etiquette_climat = null, eges = null } = Astro.props;
---

<Section>
    <SectionHeader title="Performance climatique">
        <DialogButton name="performance-climatique" />
    </SectionHeader>

    {
        etiquette_climat ? (
            <div class="grid grid-cols-2 gap-4 items-center">
                <div class="grow">
                    <EtiquetteClimat etiquette_climat={etiquette_climat} />
                </div>

                <div class="block w-fit stats">
                    <div class="stat p-0">
                        <div class="stat-title w-[180px]">Emissions de CO2</div>
                        <div class="stat-value text-primary">
                            {eges ? eges.toFixed() : "-"}
                        </div>
                        {eges && <div class="stat-desc">kgCO2/m²/an</div>}
                    </div>
                </div>
            </div>
        ) : (
            <Alert type="note" content="Non disponible" />
        )
    }
</Section>
