---
export const prerender = false;

if (Astro.request.method === "POST") {
    try {
        console.log(Astro.request);
        const data = await Astro.request.formData();
        const adresse = data.get("adresse");
    } catch (error) {
        console.log(error);
    }
}
---

<form method="POST">
    <label>
        Adresse :
        <input
            type="text"
            name="adresse"
            placeholder="Entrez l'adresse"
            required
        />
    </label>

    <button>Rechercher</button>
</form>
