---
import { Enveloppe } from "dpe-audit";
import { DeperditionSchema } from "dpe-audit-ui";
import { Alert } from "../Alert";
import { Section, SectionHeader } from "../Layout";
import { DialogButton } from "../Dialog";

interface Props {
    deperditions?: Enveloppe.Deperdition[];
}

const { deperditions = null } = Astro.props;
---

<Section>
    <SectionHeader title="Déperditions thermiques">
        <DialogButton name="deperditions-thermiques" />
    </SectionHeader>

    {
        deperditions ? (
            <div class="max-w-[380px] m-auto">
                <DeperditionSchema deperditions={deperditions} />
            </div>
        ) : (
            <Alert type="note" content="Non disponible" />
        )
    }
</Section>
