---
import Icon from "../../icons/circle-info.svg";

interface Props {
    name: string;
    size?: number;
}

const { name, size = 18 } = Astro.props;
---

<button data-name={name} class="btn">
    <Icon id="button" class="icon primary" width={size} height={size} />
</button>

<script>
    document.querySelectorAll(".btn").forEach((btn) => {
        const name = btn.getAttribute("data-name");

        if (null === name) {
            return;
        }

        const modal = document.getElementById(name) as HTMLDialogElement | null;

        if (modal) {
            btn.addEventListener("click", () => modal.showModal());
        }
    });
</script>
