---
import Content from "../../contents/tutoriels/mon-audit.md";
import {
    Container,
    Layout,
    Main,
    Section,
    Title,
} from "../../components/Layout";
import { Audits } from "../../components/Collection";
import { loadAudits } from "../../fixtures/audits";

let audits = null;

if (Astro.request.method === "POST") {
    audits = loadAudits();
}
---

<Layout>
    <Container size="md">
        <Main>
            <Section>
                <Title>
                    🤔 Comprendre la <span class="text-primary"
                        >performance énergétique</span
                    > des logements en <span class="text-primary"
                        >quelques minutes</span
                    >

                    <div slot="description" class="markdown-body">
                        <Content />
                    </div>
                </Title>

                <form method="POST" class="grid gap-6">
                    <label class="block font-medium">
                        🌍 Quelle est l'adresse du logement ?
                        <input
                            class="input block w-full mt-2"
                            type="text"
                            placeholder="Entrez l'adresse"
                            value="120 avenue Pierre Semard, 84000 Avignon"
                            required
                        />
                    </label>

                    <button class="btn btn-primary" type="submit">
                        🔎 Rechercher
                    </button>
                </form>

                {audits && <Audits items={audits} />}
            </Section>
        </Main>
    </Container>
</Layout>
