---
interface Props {
    class?: string;
    value?: string | number;
    compare?: string | number;
}

const { value = null, compare = null, class: className = "" } = Astro.props;
const active = value !== null && compare !== null && value < compare;
---

<span
    class:list={[
        "chip w-fit rounded-full text-center px-2 py-1 text-sm",
        { active },
        className,
    ]}
>
    <slot />
</span>

<style>
    .chip.active {
        color: #fff;

        &.primary {
            background-color: var(--color-primary);
        }
        &.secondary {
            background-color: var(--color-secondary);
        }
    }
</style>
