---
import { Audit } from "dpe-audit";
import {
    Comparaison as Table,
    ComparaisonItem as Row,
    IsolationEnveloppeChips,
    ConfortEteChips,
} from "dpe-audit-ui";

interface Props {
    origin: Audit.Audit;
    target: Audit.Audit;
}

const { origin, target } = Astro.props;
---

<Table title="Performances">
    <Row name="Performance de l'isolation">
        <IsolationEnveloppeChips
            class="text-xs"
            slot="origin"
            value={origin.enveloppe.data?.performance}
        />
        <IsolationEnveloppeChips
            class="text-xs"
            slot="target"
            value={target.enveloppe.data?.performance}
        />
    </Row>
    <Row name="Confort d'été">
        <ConfortEteChips
            class="text-xs"
            slot="origin"
            value={origin.enveloppe.data?.confort_ete}
        />
        <ConfortEteChips
            class="text-xs"
            slot="target"
            value={target.enveloppe.data?.confort_ete}
        />
    </Row>
</Table>
