---
import { Audit } from "dpe-audit";
import AuditsItem from "./AuditsItem.astro";

interface Props {
    items: Audit.AuditCollectionItem[];
}

const { items } = Astro.props;
---

<div class="audits py-6 grid gap-6 ">
    {items.map((item) => <AuditsItem value={item} />)}
</div>
