---
import { type Geste } from "../../data/gestes";
import { Tags, TagsFilter } from "../Tags";
import GestesItem from "./GestesItem.astro";

interface Props {
    items: Geste[];
}

const { items } = Astro.props;
const tags = items.map((item) => item.tags).flat();
---

<div class="grid grid-flow-row-dense gap">
    <Tags name="gestes" tags={tags} />

    <div class="gestes md:flex flex-wrap items-stretch gap">
        {
            items.map((item) => (
                <TagsFilter name="gestes" tags={item.tags}>
                    <GestesItem value={item} />
                </TagsFilter>
            ))
        }
    </div>
</div>
