---
import { type Ressource } from "../../data/ressources.ts";
import { Tags, TagsFilter } from "../Tags/index.ts";
import RessourcesItem from "./RessourcesItem.astro";

interface Props {
    items: Ressource[];
}

const { items } = Astro.props;
const tags = items.map((item) => item.tags).flat();
---

<div class="grid grid-flow-row-dense gap">
    <Tags name="ressources" tags={tags} />

    <div class="grid auto-rows-auto gap">
        {
            items.map((item) => (
                <TagsFilter name="ressources" tags={item.tags}>
                    <RessourcesItem {...item} />
                </TagsFilter>
            ))
        }
    </div>
</div>
