---
import { Icon } from "astro-icon/components";

interface Props {
    class?: string;
}

const { class: className = "" } = Astro.props;

const pathname = Astro.url.pathname;

const paths = [
    {
        name: "/mon-audit/recherche",
        title: "Mon audit",
        icon: "search-building",
        match: "/mon-audit",
    },
    {
        name: "/mes-gestes/projet",
        title: "Mes gestes",
        icon: "target",
        match: "/mes-gestes",
    },
    {
        name: "/ressources",
        title: "Ressources",
        icon: "toolbox",
        match: "/ressources",
    },
];

const isActive = (path: string) => pathname.includes(path);
---

<nav class:list={["dock", className]}>
    {
        paths.map((path) => (
            <a
                href={path.name}
                class:list={[
                    {
                        "dock-active": isActive(path.match),
                        "color-primary": isActive(path.name),
                    },
                ]}
            >
                <Icon name={path.icon} class="icon size-[1.4em]" />
                <span class="dock-label">{path.title}</span>
            </a>
        ))
    }
</nav>

<style>
    a {
        &.dock-active {
            border-color: var(--color-primary);

            span {
                font-weight: 500;
                color: var(--color-primary);
            }
            [data-icon] {
                color: var(--color-primary);
            }
            &:after {
                background-color: var(--color-primary);
            }
        }
    }
</style>
