---
import { Icon } from "astro-icon/components";

interface Props {
    class?: string;
}

const { class: className = "" } = Astro.props;

const pathname = Astro.url.pathname;

const paths = [
    { name: "/mon-audit/recherche", title: "Mon audit", icon: "search-building", match: "/mon-audit" },
    { name: "/mes-gestes/projet", title: "Mes gestes", icon: "target", match: "/mes-gestes" },
    { name: "/ressources", title: "Ressources", icon: "toolbox", match: "/ressources" },
];
---

<nav class:list={["flex w-full items-center text-center", className]}>
    {
        paths.map((path) => (
            <a
                href={path.name}
                class:list={[
                    "h-full grow px-5 py-2 flex flex-col md:flex-row items-center justify-center",
                    { active: pathname.includes(path.match) },
                ]}
            >
                <Icon
                    name={path.icon}
                    class="icon w-[24px] h-[24px] md:w-[32px] md:h-[32px] m-auto md:mr-3"
                />
                <span>{path.title}</span>
            </a>
        ))
    }
</nav>

<style>
    .shadow-md {
        box-shadow:
            0 -4px 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
            0 -2px 4px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
    }
    a {
        border-bottom: solid 2px transparent;

        &.active {
            border-color: var(--color-primary);

            span {
                font-weight: 500;
                color: var(--color-primary);
            }
            [data-icon] {
                color: var(--color-primary);
            }
        }
    }
</style>
