---
import { Icon } from "astro-icon/components";
import { paths } from "./utils";

interface Props {
    class?: string;
}

const { class: className = "" } = Astro.props;

const pathname = Astro.url.pathname;

const isActive = (path: string) => pathname.includes(path);
---

<nav class:list={["dock", className]}>
    {
        paths.map((path) => (
            <a
                href={path.name}
                class:list={[
                    {
                        "dock-active": isActive(path.match),
                        "color-primary": isActive(path.name),
                    },
                ]}
            >
                <Icon name={path.icon} class="icon size-[1.4em]" />
                <span class="dock-label">{path.title}</span>
            </a>
        ))
    }
</nav>

<style>
    nav {
        box-shadow:
            0 -4px 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
            0 -2px 4px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
    }
    a {
        &.dock-active {
            border-color: var(--color-primary);

            span {
                font-weight: 500;
                color: var(--color-primary);
            }
            [data-icon] {
                color: var(--color-primary);
            }
            &:after {
                background-color: var(--color-primary);
            }
        }
    }
</style>
